@import '../../shared/styles/variables';

.cabinet-content {
    display: flex
}

// .menu {
//     margin-left: 50px;

// }

.nav-link {
    border: 1px solid gray;
    border-radius: 0px;
    font-size: 30px;
    padding: 28px;
    color: $color !important;
}

.active {
    border-top: 4px solid $primary;
    border-left: none;
    border-right: none;
    background-color: transparent !important;
    color: $color !important;
    font-weight: bold;
}