<div class="cabinet-content">
    <div class="ms-4">
      <div class="nav flex-column nav-pills m-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="nav-link active" type="button" routerLinkActive="active" [routerLink]="['personal']">
          Особисті дані
        </button>
        <button class="nav-link" type="button" routerLinkActive="active" [routerLink]="['orders']">
          Історія замовлень
        </button>
        <button class="nav-link" type="button" routerLinkActive="active" [routerLink]="['change']">
          Зміна паролю
        </button>
      </div>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>