<div class="footer container-fluid d-flex flex-row justify-content-between">
    <div>
        <div class="" routerLink="/home"><img src="https://firebasestorage.googleapis.com/v0/b/monosushi-10b64.appspot.com/o/footer%2Flogo%20(1).svg?alt=media&token=32b5e842-76a8-4b44-afe8-274c704633fa"
          alt="Логотип" ></div>
        <div>
            <p class="text-center mt-4">© 2024 Monosushi</p>
        </div>
    </div>
    <div class="menu-footer d-flex flex-column text-center">
        <div class="d-flex flex-row">
            <div class="me-5 fs-5">Акції</div>
            <div class="me-5 fs-5">Про нас</div>
            <div class="me-5 fs-5">Оферта</div>
        </div>
        <div class="bankink-card d-flex flex-row ">
            <div class="pay-card mt-5 me-4"><img src="https://firebasestorage.googleapis.com/v0/b/monosushi-10b64.appspot.com/o/footer%2Fpay-card-img-1.svg?alt=media&token=e90c43fd-a5fe-4f2e-9e38-0bebdeb0636d"
                    alt=""> </div>
            <div class="pay-card mt-5 me-4"><img
                    src="https://firebasestorage.googleapis.com/v0/b/monosushi-10b64.appspot.com/o/footer%2Fpay-card-img-2.svg?alt=media&token=1fbb9f0e-ea4d-4f5e-bc0d-4aa7064daf43"
                    alt=""> </div>
            <div class="pay-card mt-5"><img
                    src="https://firebasestorage.googleapis.com/v0/b/monosushi-10b64.appspot.com/o/footer%2Fpay-card-img-3.svg?alt=media&token=2b8013ab-27b1-42e7-8e97-3f76a761de21"
                    alt=""> </div>


        </div>
    </div>
    <div class="hickup-block text-center">
        <div>
            <p class="fw-bold fs-5">Точки самовивозу</p>
            <p>вул. Володимира Великого, 10в</p>
            <p>вул. Чорновола, 95</p>
            <p>вул. Зелена 204б</p>
        </div>
        <div>
            <p>Слідкуйте за нами</p>
        </div>
    </div>
    <div class="order-block text-center">
        <div>
            <p class="fw-bold fs-5">Оформити замовлення</p>
            <p>+380978780837</p>

        </div>
        <div class="d-flex flex-row ">
            <p class="me-3 mt-2">Слідкуйте за нами</p>
            <div class="d-flex flex-row">
                <div class="media me-3"><img
                        src="https://firebasestorage.googleapis.com/v0/b/monosushi-10b64.appspot.com/o/footer%2Ffacebook-icon.svg?alt=media&token=4440f674-db2a-4996-8236-84d5472f2a32"
                        alt=""></div>
                <div class="media "><img
                        src="https://firebasestorage.googleapis.com/v0/b/monosushi-10b64.appspot.com/o/footer%2Finstagram-icon.svg?alt=media&token=495037eb-1b15-46b5-837d-ccc0cb364933"
                        alt=""></div>
            </div>
        </div>
    </div>
    <div class="schedule-block text-center">
        <div>
            <p class="fw-bold fs-5">Графік роботи</p>
            <p>працюємо з 11:00 до 22:30</p>

        </div>
    </div>

</div>
