<div class="m-5 change">
  <div class="fs-2 fw-bold my-5">Зміна паролю</div>
  <form [formGroup]="passwordForm" class="password-form">

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Ваш поточний пароль</mat-label>
        <input matInput formControlName="passwordOld" type="password" />
        <mat-error *ngIf="passwordForm.get('password')?.hasError('required')">
          Поле не може бути пустим
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Новий пароль</mat-label>
        <input matInput (input)="checkConfirmedPassword()" formControlName="password" type="password" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Повторіть пароль</mat-label>
        <input matInput (input)="checkConfirmedPassword()" formControlName="confirmationPassword" type="password" />
      </mat-form-field>
      <mat-error *ngIf="checkVisibilityError('confirmationPassword', 'matchError')">
        Ваші паролі не співпадають
      </mat-error>
    </div>

    <div class="d-flex justify-content-around">
      <button mat-button class="btn p-4 fs-5 my-3" type="button" (click)="canceled()">Скасувати</button>
      <button mat-raised-button color="primary" class="btn p-4 fs-5 my-3" type="submit" [disabled]="passwordForm.invalid"
        (click)="saveChange()">Зберегти</button>

    </div>
  </form>
</div>         
<!-- 
<div class="m-5 change">
  <div class="fs-2 fw-bold my-5">Зміна паролю</div>
  <form [formGroup]="passwordForm" class="password-form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Ваш поточний пароль</mat-label>
      <input matInput formControlName="passwordOld" type="password" />
      <mat-error *ngIf="passwordForm.get('passwordOld')?.hasError('required')">
        Поле не може бути пустим
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Новий пароль</mat-label>
      <input matInput formControlName="password" type="password" />
      <mat-error *ngIf="passwordForm.get('password')?.hasError('required')">
        Поле не може бути пустим
      </mat-error>
      <mat-error *ngIf="passwordForm.get('password')?.hasError('minlength')">
        Пароль повинен містити не менше 6 символів
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Повторіть пароль</mat-label>
      <input matInput formControlName="confirmationPassword" type="password" />
      <mat-error *ngIf="passwordForm.get('confirmationPassword')?.hasError('required')">
        Поле не може бути пустим
      </mat-error>
    </mat-form-field>

    <div class="actions">
      <button mat-raised-button color="primary" type="button" (click)="saveChange()">
        Зберегти
      </button>
      <button mat-button type="button" (click)="canceled()">Скасувати</button>
    </div>
  </form>
  </div> -->