<div *ngIf="newUser">
  <div class="text-center fs-2 fw-bold mt-5">Вхід в кабінет</div>
  <form [formGroup]="loginForm" class="auth-form">
    <mat-form-field appearance="outline" class="auth-field">
      <mat-label>Ваш email</mat-label>
      <input matInput formControlName="email" type="email" />
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
        Please enter a valid email
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="auth-field">
      <mat-label>Пароль</mat-label>
      <input matInput formControlName="password" type="password" />
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
        Password is required
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" class="btn auth-button" type="submit" [disabled]="loginForm.invalid"
      (click)="loginUser()">Увійти в кабінет</button>
    <button mat-button class="btn btn-register" type="button" (click)="register()">Зареєструватися</button>
  </form>
</div>

<div *ngIf="!newUser">
  <div class="text-center fs-2 fw-bold mt-5">Зареєструватися</div>
  <form [formGroup]="registerForm" class="auth-form">

    <div class="row">
      <mat-form-field appearance="outline" class="auth-field half-width">
        <mat-label>Ваше ім'я</mat-label>
        <input matInput formControlName="firstName" type="text" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="auth-field half-width">
        <mat-label>Ваше прізвище</mat-label>
        <input matInput formControlName="lastName" type="text" />
      </mat-form-field>
    </div>
    <mat-form-field appearance="outline" class="auth-field">
      <mat-label>Телефон</mat-label>
      <input matInput formControlName="phone" type="tel" placeholder="+380973844444" />
      <mat-error *ngIf="registerForm.get('phone')?.hasError('required')">Телефон обов'язковий</mat-error>
      <mat-error *ngIf="registerForm.get('phone')?.hasError('pattern')">Формат телефону невірний</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="auth-field">
      <mat-label>Ваш email</mat-label>
      <input matInput formControlName="email" type="email" />
       <mat-error *ngIf="registerForm.get('email')?.hasError('required')">
        Email is required
      </mat-error> 
       <mat-error *ngIf="registerForm.get('email')?.hasError('email')">
        Please enter a valid email
      </mat-error>
    </mat-form-field>

    <div class="row">
      <mat-form-field appearance="outline" class="auth-field half-width">
        <mat-label>Пароль</mat-label>

        <input matInput (input)="checkConfirmedPassword()" formControlName="password" type="password" />

      </mat-form-field>
      <mat-form-field appearance="outline" class="auth-field half-width">
        <mat-label>Повторіть пароль</mat-label>
        <input matInput (input)="checkConfirmedPassword()" formControlName="confirmationPassword" type="password" />
      </mat-form-field>
      <mat-error *ngIf="checkVisibilityError('confirmationPassword', 'matchError')">
        Ваші паролі не співпадають
      </mat-error>
    </div>

   <button mat-raised-button color="primary" class="btn auth-button" type="submit" [disabled]="registerForm.invalid"
      (click)="registerUser()">Зареєструватися</button> 
    <div class="center"><span>Вже зареєстровані?</span>
      <span class="fw-bold ms-3" (click)="register()">Увійти</span>
    </div>

  </form>
</div>