@import '../../shared/styles/variables';

.title {
    text-align: center;
    border-top: 5px solid $primary;
    width: 350px;
    margin: 20px auto;
    padding: 20px;
}

.nav {
    display: flex;
    padding: 0;
    margin-left: 10px;
}

.nav-link {
    font-size: 30px;
    padding: 28px;
    color: $color !important;
    border: 1px solid gray;
    border-radius: 0px;
    margin: 0;
    flex: 1;
    text-align: center;
}

.active {
    border-top: 6px solid $primary !important;
    border-left: none;
    border-right: none;
    border-bottom: none;
    color: $color !important;
}

.box-product {
    width: 500px;
    min-height: 700px;
    border-radius: $radius;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: 0px !important;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    width: 100%;
}

.box-product:hover {
    border: 5px solid $primary;
}
.productName:hover{
    color:$primary;
}
.description {
    min-height: 70px;
}

.product-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;
}

.count {
    width: 40px;
   min-height: 50px;
}

.btn-order {
    padding: 5px;
    background-color: $primary;
    border-radius: $radius;
}

.btn-group,
.price,
.btn-order {
    margin: 0 10px;
}