@import '../../../shared/styles/variables';
.card{
    margin: 100px, auto;
    width: 100%;
    min-height: 600px;
    justify-content: center;
    align-items: center;
}
.text-color{color: $primary}
.card-title{
    font-size: 75px;
}
ul {
    list-style-type: disc;
}