<div class="container custom-ml">
    <button class="btn-addProduct fw-bold fs-4" (click)="add()">ДОДАТИ ПРОДУКТ</button>

    <div class="add-block" *ngIf="addBlock">
        <form [formGroup]="productForm" (ngSubmit)="addProduct()">

            <div class="mb-3">
                <label for="name" class="form-label fs-4">Виберіть категорію</label>
                <select formControlName="category" class="form-select">
                    <option [value]="category.path" *ngFor="let category of adminCategories">{{category.name}}
                    </option>
                </select>

                <div class="d-flex justify-content-between">
                    <input class="mr-2" formControlName="name" type="text" name="name" placeholder="*Назва продукту">
                    <input class="mr-2" formControlName="path" type="text" name="path" placeholder="*Шлях">
                </div>
            </div>
            <textarea class="description" formControlName="description" type="text" name="description"
                placeholder="*Інгредієнти"></textarea>
            <div class="d-flex justify-content-between">
                <input class="mr-2" formControlName="weight" type="text" name="weight" placeholder="*Вага">
                <input class="mr-2" formControlName="price" type="number" name="price" placeholder="*Ціна">
            </div>

            <ng-container *ngIf="!isUploaded">
                <div class="mb-3">
                    <label for="formFile" class="form-label"></label>
                    <input class="form-control" type="file" id="formFile" (change)="upload($event)">
                </div>
                <div class="progress mb-3" role="progressbar" aria-label="Default striped example" aria-valuemin="0"
                    aria-valuemax="100">
                    <div class="progress-bar progress-bar-striped" [style.width.%]="uploadPercent"></div>
                </div>
            </ng-container>
            <ng-container *ngIf="isUploaded">
                <div class="d-flex flex-column col-3">
                    <img [src]="valueByControl('imgPath')" class="m-3" alt="">
                    <button type="button" class="btn-danger m-3 p-2" (click)="deleteImg()">Delete</button>
                </div>
            </ng-container>

            <div><button type="submit" [disabled]="productForm.invalid" class="btn-save fs-4">{{ editStatus ? 'Зберегти
                    зміни': 'Зберегти' }}</button></div>

        </form>
    </div>

    <table class="table fs-5 mr-0">
        <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Категорія</th>
                <th scope="col">Назва</th>
                <th scope="col">Шлях</th>
                <th scope="col">Інгредієнти</th>
                <th scope="col">Вага</th>
                <th scope="col">Ціна</th>
                <th scope="col">Картинка</th>
                <th scope="col">Дії</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr *ngFor="let product of adminProducts; let i = index">
                <th class="align-middle">{{product.id }}</th>
                <td class="align-middle">{{product.category}}</td> 
                <td class="align-middle">{{ product.name }}</td>
                <td class="align-middle">{{ product.path }}</td>
                <td class="align-middle">{{ product.description | slice:0:14}}
                    <span *ngIf="product.description.length > 15">...</span></td>
                <td class="align-middle">{{ product.weight }}</td>
                <td class="align-middle">{{ product.price }}</td>
                <td class="align-middle">
                    <img [src]="product.imgPath" alt="{{product.name}}" width="120px">
                </td>
                <td class="align-middle text-center">
                    <button class="btn-action mb-1" (click)="editProduct(product)">Редагувати</button>
                    <button class="btn-action" (click)="deleteProduct(product)">Видалити</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>