<div class="about-wrapper">
    <div class="title">
        <h2>Доставка та оплата</h2>
    </div>
    <div class="zone">
        <div class="green-zone d-flex flex-row align-items-center">
            <div><img src="https://firebasestorage.googleapis.com/v0/b/monosushi-10b64.appspot.com/o/delivery%2Fdelivery-img.svg?alt=media&token=c55c5a29-1da6-4062-88be-35d07abdcc5c" alt=""></div>
            <div class="fs-5 text-center">
                <p class="text-success text-center fs-2 fw-bold">Зелена зона</p>
                <p>В межах зеленої зони ми доставляємо протягом </p>
                <p class="text-success">1 год.</p>
                <p>Мінімальна сума замовлення в цю зону становить </p>
                <p class="text-success">400 грн</p>
            </div>
        </div>
        <div class="yellow-zone d-flex flex-row align-items-center">
            <div><img src="https://firebasestorage.googleapis.com/v0/b/monosushi-10b64.appspot.com/o/delivery%2Fdelivery-img.svg?alt=media&token=c55c5a29-1da6-4062-88be-35d07abdcc5c" alt=""></div>
            <div class="fs-5 text-center">
                <p class="text-warning text-center fs-2 fw-bold">Жовта зона</p>
                <p>В межах жовтої зони ми доставляємо протягом </p>
                <p class="text-warning">1.5 год.</p>
                <p>Мінімальна сума замовлення в цю зону становить</p>
                <p class="text-warning">500 грн</p>
            </div>
        </div>

    </div>
    <div class="d-flex justify-content-center m-5">
        <img src="https://firebasestorage.googleapis.com/v0/b/monosushi-10b64.appspot.com/o/delivery%2Fmap.png?alt=media&token=5260c03f-e017-4723-aa31-d9724e23296c" alt="">
    </div>
    <div class="text-description fs-5 ">
        <p>Команда «Monosushi» пропонує надзвичайно зручну систему доставки та оплати. Чіткість
            наших стандартів
            роботи забезпечує швидке і якісне виконання замовлень для наших гостей. </p><br>

        <p>Ми поділили Львів на умовні зони доставки – зелену та жовту. Для кожної зони ми чітко визначаємо час
            доставки.
            Зелена зона доставки знаходиться ближче до нашої кухні, тому замовлення в цю зону доставляються – до 1
            год. В жовту зону, яка знаходиться значно далі – до 1,5 год.</p>
    </div>
</div>